In [1]:
import os, uuid
import azure
from azure.identity import DefaultAzureCredential
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
import pandas as pd
import openpyxl
from azure.storage.blob import BlobServiceClient
import time

In [2]:
STORAGEACCOUNTURL= "https://bdousncvbaddmv01sta.blob.core.windows.net"
STORAGEACCOUNTKEY= "JhbiDWfvxlthZngR4WkZDaaxhE/QMWj8bIXvdNH8MTvHYxNoSRq88UifxDawqeMlVpYuR3vpokQi52Ek1Ccqsw=="
CONTAINERNAME= "newcontainer"

def download_csv_from_cloud_storage(LOCALFILENAME, BLOBNAME, HEADER):
    """
    Function to load csv file from Azure Blob Storage into Pandas Dataframe.

        Inputs: {'LOCALFILENAME': path to local temporary destination (string), 'BLOBNAME': name of storage object we would like to call (string), 'HEADER': number of rows to be considered for header (int)},
        Outputs: {'df': Dataframe from input Blob Object}
    """
    # Download File from blob and save as Temp File
    t1=time.time()
    blob_service_client_instance = BlobServiceClient(account_url=STORAGEACCOUNTURL, credential=STORAGEACCOUNTKEY)
    blob_client_instance = blob_service_client_instance.get_blob_client(CONTAINERNAME, BLOBNAME, snapshot=None)
    with open(LOCALFILENAME, "wb") as my_blob:
        blob_data = blob_client_instance.download_blob()
        blob_data.readinto(my_blob)
    t2=time.time()
    print(("It takes %s seconds to download "+BLOBNAME) % (t2 - t1))


    # Read In Data Frame
    df = pd.read_csv(LOCALFILENAME, header=HEADER)
    # Remove Temporary File
    os.remove(LOCALFILENAME)
    return df

def download_pipe_from_cloud_storage(LOCALFILENAME, BLOBNAME, HEADER):
    """
    Function to load csv file from Azure Blob Storage into Pandas Dataframe.

        Inputs: {'LOCALFILENAME': path to local temporary destination (string), 'BLOBNAME': name of storage object we would like to call (string), 'HEADER': number of rows to be considered for header (int)},
        Outputs: {'df': Dataframe from input Blob Object}
    """
    
    # Download File from blob and save as Temp File
    t1=time.time()
    blob_service_client_instance = BlobServiceClient(account_url=STORAGEACCOUNTURL, credential=STORAGEACCOUNTKEY)
    blob_client_instance = blob_service_client_instance.get_blob_client(CONTAINERNAME, BLOBNAME, snapshot=None)
    with open(LOCALFILENAME, "wb") as my_blob:
        blob_data = blob_client_instance.download_blob()
        blob_data.readinto(my_blob)
    t2=time.time()
    print(("It takes %s seconds to download "+BLOBNAME) % (t2 - t1))


    # Read In Data Frame
    df = pd.read_csv(LOCALFILENAME, header=HEADER, sep = '|')
    # Remove Temporary File
    os.remove(LOCALFILENAME)
    return df

def download_excel_from_cloud_storage(LOCALFILENAME, BLOBNAME, HEADER, SHEETNAME):
    """
    Function to load csv file from Azure Blob Storage into Pandas Dataframe.

        Inputs: {'LOCALFILENAME': path to local temporary destination (string), 'BLOBNAME': name of storage object we would like to call (string), 'HEADER': number of rows to be considered for header (int), 'SHEETNAME': name of tab in Excel workbook which data resides},
        Outputs: {'df': Dataframe from input Blob Object}
    """
    # Download File from blob and save as Temp File
    t1=time.time()
    blob_service_client_instance = BlobServiceClient(account_url=STORAGEACCOUNTURL, credential=STORAGEACCOUNTKEY)
    blob_client_instance = blob_service_client_instance.get_blob_client(CONTAINERNAME, BLOBNAME, snapshot=None)
    with open(LOCALFILENAME, "wb") as my_blob:
        blob_data = blob_client_instance.download_blob()
        blob_data.readinto(my_blob)
    t2=time.time()
    print(("It takes %s seconds to download "+BLOBNAME) % (t2 - t1))

    # Read In Data Frame
    df = pd.read_excel(LOCALFILENAME, header=HEADER, sheet_name=SHEETNAME)
    # Remove Temporary File
    os.remove(LOCALFILENAME)
    return df

In [3]:
census_2022 = download_csv_from_cloud_storage('temp_df', "CensusFlatFile2022.csv", None)
census_2022.columns = census_2022.columns+1
census_2022

It takes 7.446513891220093 seconds to download CensusFlatFile2022.csv

<ipython-input-3-b0bcc5594f51>:1: DtypeWarning: Columns (15,16,17,18,21) have mixed types.Specify dtype option on import or set low_memory=False.
  census_2022 = download_csv_from_cloud_storage('temp_df', "CensusFlatFile2022.csv", None)

,1,2,3,4,5,6,7,8,9,10,...,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212
0,2022,33860,1,1,20100,0,T,N,D,NaN,...,63.0,20.0,34.0,30.0,15.0,0.0,2.0,0.0,0.0,151200.0
1,2022,33860,1,1,20200,0,T,N,D,NaN,...,6.0,4.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,85700.0
2,2022,33860,1,1,20300,0,T,N,D,NaN,...,53.0,13.0,34.0,0.0,15.0,0.0,0.0,0.0,0.0,115000.0
3,2022,33860,1,1,20400,0,T,N,D,NaN,...,260.0,158.0,24.0,10.0,5.0,0.0,0.0,0.0,0.0,163100.0
4,2022,33860,1,1,20501,0,T,N,D,NaN,...,320.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,173000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87270,2022,99999,78,30,960900,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87271,2022,99999,78,30,961000,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87272,2022,99999,78,30,961100,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87273,2022,99999,78,30,961200,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87274,2022,99999,78,30,990000,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
census_2022_dd = download_excel_from_cloud_storage('temp_df', "FFIEC_Census_File_Definitions_26AUG22.xlsx", 0, "Data Dictionary")
census_2022_dd.Index = census_2022_dd.Index.fillna(0).astype(int)
census_2022_dd = census_2022_dd.set_index('Index')
census_2022_dd

It takes 0.07600927352905273 seconds to download FFIEC_Census_File_Definitions_26AUG22.xlsx

,Description,Max Length,Data Type,Data Source,Source Field
Index,,,,,
0,Other - Board calculated,NaN,NaN,NaN,NaN
1,Key field. HMDA/CRA collection year,4.0,AN,Other,NaN
2,Key field. MSA/MD Code,5.0,AN,Other,NaN
3,Key field. FIPS state code,2.0,AN,Other,NaN
4,Key field. FIPS county code,3.0,AN,Other,NaN
...,...,...,...,...,...
1210,"Total owner-occupied units $1,500,000 to $1,99...",8.0,N,ACS,B25075_026
1211,"Total owner-occupied units $2,000,000 or more",8.0,N,ACS,B25075_027
0,NaN,NaN,NaN,NaN,NaN
0,Median value (in dollars) for all owner-occupi...,NaN,NaN,NaN,NaN
1212,Median value in dollars for all owner-occupied...,8.0,N,ACS,B25077_001

In [ ]:
new_col_list = []
for col in census_2022.columns:
    new_col_list.append(census_2022_dd.loc[col].Description)

In [18]:
census_2022.columns = new_col_list
census_2022['census_tract_merge'] = census_2022['Key field. Census tract. Implied decimal point.'].astype(np.int64)
census_2022

,Key field. HMDA/CRA collection year,Key field. MSA/MD Code,Key field. FIPS state code,Key field. FIPS county code,Key field. Census tract. Implied decimal point.,"Principal city flag. 0=not principal city, 1=principal city","Small county flag. T=tract record, S=small county, I=island area","Split tract flag. N=tract number occurs within one MA, S=split between Mas","Demographic data flag. X=Total persons/population or median family income is 0, D=total persons/population and median family income are not 0, I=Island Area","Urban/rural flag. U=urban, R=rural, M=mixed, I=Island Area",...,"Total owner-occupied units $250,000-$299,999","Total owner-occupied units $300,000-$399,999","Total owner-occupied units $400,000-$499,999","Total owner-occupied units $500,000-$749,999","Total owner-occupied units $750,000-$999,999","Total owner-occupied units $1,000,000 to $1,499,999","Total owner-occupied units $1,500,000 to $1,999,999","Total owner-occupied units $2,000,000 or more",Median value in dollars for all owner-occupied housing units,census_tract_merge
0,2022,33860,1,1,20100,0,T,N,D,NaN,...,20.0,34.0,30.0,15.0,0.0,2.0,0.0,0.0,151200.0,20100
1,2022,33860,1,1,20200,0,T,N,D,NaN,...,4.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,85700.0,20200
2,2022,33860,1,1,20300,0,T,N,D,NaN,...,13.0,34.0,0.0,15.0,0.0,0.0,0.0,0.0,115000.0,20300
3,2022,33860,1,1,20400,0,T,N,D,NaN,...,158.0,24.0,10.0,5.0,0.0,0.0,0.0,0.0,163100.0,20400
4,2022,33860,1,1,20501,0,T,N,D,NaN,...,52.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,173000.0,20501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87270,2022,99999,78,30,960900,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,960900
87271,2022,99999,78,30,961000,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,961000
87272,2022,99999,78,30,961100,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,961100
87273,2022,99999,78,30,961200,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,961200
87274,2022,99999,78,30,990000,0,I,N,I,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,990000

In [9]:
hmda = download_csv_from_cloud_storage('temp_df', "2021_public_lar_pa.csv", 0)
hmda

It takes 0.2549726963043213 seconds to download 2021_public_lar_pa.csv

<ipython-input-9-ac27a53ded97>:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types.Specify dtype option on import or set low_memory=False.
  hmda = download_csv_from_cloud_storage('temp_df', "2021_public_lar_pa.csv", 0)

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,549300KDVJICP5T5BD05,37964,PA,42101.0,4.210103e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,4.0,NaN,NaN,4507,84.14,67500,69,646,1246,62
1,2021,549300KDVJICP5T5BD05,33874,PA,42029.0,4.202931e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,9662,37.73,116300,92,2406,3007,26
2,2021,549300KDVJICP5T5BD05,37964,PA,42045.0,4.204540e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,6658,32.37,67500,92,1409,2031,61
3,2021,549300KDVJICP5T5BD05,10900,PA,42095.0,4.209502e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,4.0,NaN,NaN,2618,41.37,84900,85,637,1021,53
4,2021,54930063XGNMIXS57091,37964,PA,42101.0,4.210103e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2938,96.36,67500,82,673,891,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38094,2021,549300CK7U1WMTIG6687,33874,PA,42091.0,4.209120e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3971,6.09,116300,92,1194,1831,76
38095,2021,549300CK7U1WMTIG6687,33874,PA,42091.0,4.209120e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5708,24.89,116300,97,1850,1868,59
38096,2021,549300CK7U1WMTIG6687,33874,PA,42091.0,4.209121e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3563,5.05,116300,85,1104,1269,24
38097,2021,549300CK7U1WMTIG6687,33874,PA,42029.0,4.202931e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4762,23.46,116300,157,1017,1167,30
38098,2021,549300CK7U1WMTIG6687,25420,PA,42099.0,4.209903e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5238,5.88,84900,87,1868,2226,29

In [40]:
census_2022['Total population by race']

0        1775.0
1        2055.0
2        3216.0
3        4246.0
4        4322.0
          ...
87270       NaN
87271       NaN
87272       NaN
87273       NaN
87274       NaN
Name: Total population by race, Length: 87275, dtype: float64

In [13]:
import numpy as np
print(f'census tract 1 unaltered: {hmda.census_tract[0]}')
print(f'census tract 1 cast as int: {hmda.census_tract[0].astype(int)}')
print(f'census tract 1 cast as np.int64: {hmda.census_tract[0].astype(np.int64)}')
hmda.census_tract = hmda.census_tract.fillna(0).astype(np.int64)
hmda['census_tract_merge'] = hmda.census_tract.astype(str).str[-6:].astype(np.int64)
hmda

census tract 1 unaltered: 42101030900.0
census tract 1 cast as int: -2147483648
census tract 1 cast as np.int64: 42101030900

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,549300KDVJICP5T5BD05,37964,PA,42101.0,42101030900,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,4.0,NaN,NaN,4507,84.14,67500,69,646,1246,62
1,2021,549300KDVJICP5T5BD05,33874,PA,42029.0,42029311700,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,9662,37.73,116300,92,2406,3007,26
2,2021,549300KDVJICP5T5BD05,37964,PA,42045.0,42045403300,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,6658,32.37,67500,92,1409,2031,61
3,2021,549300KDVJICP5T5BD05,10900,PA,42095.0,42095017800,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,4.0,NaN,NaN,2618,41.37,84900,85,637,1021,53
4,2021,54930063XGNMIXS57091,37964,PA,42101.0,42101027100,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2938,96.36,67500,82,673,891,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38094,2021,549300CK7U1WMTIG6687,33874,PA,42091.0,42091204101,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3971,6.09,116300,92,1194,1831,76
38095,2021,549300CK7U1WMTIG6687,33874,PA,42091.0,42091201902,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5708,24.89,116300,97,1850,1868,59
38096,2021,549300CK7U1WMTIG6687,33874,PA,42091.0,42091208400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3563,5.05,116300,85,1104,1269,24
38097,2021,549300CK7U1WMTIG6687,33874,PA,42029.0,42029311300,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4762,23.46,116300,157,1017,1167,30
38098,2021,549300CK7U1WMTIG6687,25420,PA,42099.0,42099030501,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5238,5.88,84900,87,1868,2226,29

In [45]:
### Merging
# Sample of Census Data Columns
sample_census = census_2022[census_2022['Key field. FIPS state code'] == 42]
sample_census.columns = sample_census.columns.str.lstrip('Key field. ')

cols_census = [
        'census_tract_merge', 
        'MSA/MD median family income', 
        'MSA/MD median household income',
        'Tract median family income as a percentage of the MSA/MD median family income. 2 decimal places, truncated.', 
        'FFIEC Estimated MSA/MD median family income',
        'Income indicator, which identifies low, moderate, middle, and upper income areas',
        '''CRA poverty criteria. 'X' - Yes , ' ' (blank space) - No''',
        '''CRA unemployment criteria. 'X' - Yes , ' ' (blank space) - No''',
        'Minority population as percent of tract population rounded to two decimal places',
        'Total population White', 
        'Total population Black/African American', 
        'Total population American Indian or Alaska native', 
        'Total population Asian', 
        'Total population Native Hawaiian or other Pacific Islander', 
        'Total population some other race', 
        'Total housing units', 
        'Total housing units - urban   ', 
        'Total housing units - rural', 
        'Total occupied housing units', 
        'Total vacant housing units'
        ]
sample_census = census_2022[cols_census]

# Sample of HMDA Cols
hmda.census_tract = hmda.census_tract.fillna(0).astype(np.int64)
hmda['census_tract_merge'] = hmda.census_tract.astype(str).str[-6:].astype(np.int64)
cols_hmda = [
        'census_tract_merge', 
        'lei',
        'derived_msa_md',
        'conforming_loan_limit',
        'derived_loan_product_type',
        'derived_dwelling_category',
        'derived_ethnicity',
        'derived_race',
        'derived_sex',
        'action_taken',
        'purchaser_type',
        'preapproval',
        'loan_type',
        'loan_purpose',
        'lien_status',
        'open_end_line_of_credit',
        'business_or_commercial_purpose',
        'loan_amount',
        'combined_loan_to_value_ratio',
        'interest_rate',
        'rate_spread',
        'hoepa_status',
        'total_loan_costs',
        'property_value',
        'income',
        'debt_to_income_ratio',
        'applicant_credit_score_type',
        'applicant_age'
]
sample_hmda = hmda[cols_hmda]

In [46]:
pd.set_option('display.max_columns', None)
sample_merge = sample_hmda.merge(sample_census, on = 'census_tract_merge', how='left')
sample_merge.head()

,census_tract_merge,lei,derived_msa_md,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,open_end_line_of_credit,business_or_commercial_purpose,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,property_value,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,MSA/MD median family income,MSA/MD median household income,"Tract median family income as a percentage of the MSA/MD median family income. 2 decimal places, truncated.",FFIEC Estimated MSA/MD median family income,"Income indicator, which identifies low, moderate, middle, and upper income areas","CRA poverty criteria. 'X' - Yes , ' ' (blank space) - No","CRA unemployment criteria. 'X' - Yes , ' ' (blank space) - No",Minority population as percent of tract population rounded to two decimal places,Total population White,Total population Black/African American,Total population American Indian or Alaska native,Total population Asian,Total population Native Hawaiian or other Pacific Islander,Total population some other race,Total housing units,Total housing units - urban,Total housing units - rural,Total occupied housing units,Total vacant housing units
0,30900,549300KDVJICP5T5BD05,37964,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,3,0,2,1,31,1,2,2,145000,70.443,NaN,NaN,3,NaN,205000.0,37.0,20%-<30%,8,45-54,75287.0,59185.0,78.21,83300.0,2.0,NaN,NaN,8.56,2363.0,43.0,11.0,3.0,0.0,22.0,1217.0,NaN,NaN,1132.0,85.0
1,30900,549300KDVJICP5T5BD05,37964,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,3,0,2,1,31,1,2,2,145000,70.443,NaN,NaN,3,NaN,205000.0,37.0,20%-<30%,8,45-54,72289.0,55983.0,38.58,79000.0,1.0,NaN,NaN,51.28,1960.0,977.0,47.0,63.0,5.0,432.0,1671.0,NaN,NaN,1324.0,347.0
2,30900,549300KDVJICP5T5BD05,37964,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,3,0,2,1,31,1,2,2,145000,70.443,NaN,NaN,3,NaN,205000.0,37.0,20%-<30%,8,45-54,76686.0,68331.0,89.02,87400.0,3.0,NaN,NaN,78.56,989.0,178.0,78.0,128.0,0.0,1321.0,836.0,NaN,NaN,836.0,0.0
3,30900,549300KDVJICP5T5BD05,37964,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,3,0,2,1,31,1,2,2,145000,70.443,NaN,NaN,3,NaN,205000.0,37.0,20%-<30%,8,45-54,143526.0,122826.0,162.29,165600.0,4.0,NaN,NaN,57.70,2960.0,185.0,13.0,2715.0,8.0,179.0,2502.0,NaN,NaN,2420.0,82.0
4,30900,549300KDVJICP5T5BD05,37964,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,3,0,2,1,31,1,2,2,145000,70.443,NaN,NaN,3,NaN,205000.0,37.0,20%-<30%,8,45-54,103157.0,83289.0,142.51,117800.0,4.0,NaN,NaN,19.70,4909.0,53.0,15.0,342.0,0.0,87.0,2201.0,NaN,NaN,2190.0,11.0

In [39]:
sample_merge[sample_merge['MSA/MD median family income'].isna()]

,census_tract_merge,lei,derived_msa_md,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,open_end_line_of_credit,business_or_commercial_purpose,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,MSA/MD median family income,MSA/MD median household income,"Tract median family income as a percentage of the MSA/MD median family income. 2 decimal places, truncated.",FFIEC Estimated MSA/MD median family income,"Income indicator, which identifies low, moderate, middle, and upper income areas","CRA poverty criteria. 'X' - Yes , ' ' (blank space) - No","CRA unemployment criteria. 'X' - Yes , ' ' (blank space) - No"
556,1400,54930063XGNMIXS57091,29540,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,0,2,1,32,2,2,2,15000,99.784,5.99,2.377,2,0.0,NaN,NaN,NaN,33100.0,NaN,NaN,NaN
1618,409802,54930063XGNMIXS57091,37964,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Joint,4,0,2,1,1,1,2,2,1055000,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2432,960100,54930063XGNMIXS57091,99999,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,0,2,1,31,1,2,2,65000,46.512,2.875,0.615,3,0.0,NaN,NaN,NaN,66400.0,NaN,NaN,NaN
3677,960400,54930063XGNMIXS57091,99999,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,0,2,1,31,1,2,2,195000,70.473,2.875,0.393,3,0.0,NaN,NaN,NaN,66400.0,NaN,NaN,NaN
4575,960100,54930063XGNMIXS57091,99999,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,1,32,1,2,2,75000,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,66400.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783672,0,549300CG5TM73650DH84,0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,4,0,2,1,1,1,2,2,175000,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783673,0,549300CG5TM73650DH84,0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,5,0,2,1,31,1,2,2,45000,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783674,0,549300CG5TM73650DH84,0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Joint,White,Joint,1,71,2,1,31,1,2,2,245000,73.03,2.625,0.285,2,4785.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783675,0,549300CG5TM73650DH84,0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,4,0,2,1,31,1,2,2,85000,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783869,960200,549300CK7U1WMTIG6687,99999,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,5,0,2,2,32,1,1,2,85000,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,66400.0,NaN,NaN,NaN

In [38]:
len(sample_merge['MSA/MD median family income'])

784008